
/*CSS for starrs*/
.checked {
    color: orange;
  }

/*mobile first CSS*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 196, 110);
}

/*Styling for h1 and h3*/
h1, h3 {
  font-family: 'Times New Roman', Times, serif;
  color: darkblue;
}

body section {
  margin: 20px 0 0 15px;
  align-items: center;
}


div .group {
  margin-bottom: 20px;
}


@media all and (width: 800px)  {
  body {
  flex-direction: row;
  }
}

/*setting centent for new and filter by Rating buttons using group and item class*/
  .group {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .item {
    flex: 1;
    font-size: 20px;
    background-color: lightgray;
    color: brown;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0 5px 5px 0;
  }

  /*CSS for each bookmark that has been added to the page*/
  .bookmark {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: lightgray;
    color: brown;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0 0 5px 0;
  }

/*group1 and item1 Setting content for items inside of the Create Boomark form*/

  /*.group1 {
    
  }*/

  /*Border Styling for New and Filer By buttons*/
  body form button {
    border: none;
    background: none;
    color: brown;
    font-size: 25px;
    
  }

body form button a {
  text-decoration: none;
  color: brown;
}

body form select {
  border: none;
  background: none;
  color: brown;
  font-size: 25px;
}

/*CSS for submit and cancel button on Create Bookmark Page*/
.js-submit-button, .js-cancel-button {
  background-color: lightgray;
    color: brown;
    border-radius: 15px;
    padding: 10px 15px;
}


/*Styling for the text fields on the Create Bookmark page */
  .item1 {
    margin: 5px 0 5px 0;

  }
